<article>
    <figure>
        <img src="./img/value-of-money.jpg" alt="The Value of Money">
        <figcaption>The Value of Money</figcaption>
    </figure>
    <p>The time value of money (TVM) is the concept that the money you have in your pocket today is worth more than the
        same amount would be if you received it in the future because of the profit it can earn during the interim. <br>
        <br> <br> sources: <a href="https://www.businessinsider.com/personal-finance/investing/time-value-of-money">Business Insider</a></p>
</article>

<article>
    <figure>
        <img src="./img/gmo-food.jpg" alt="GMO Food">
        <figcaption>GMO Food</figcaption>
    </figure>
    <p>The term “genetic modified organisms (GMO)” has become a controversial topic as its benefits for both food
        producers and consumers are accompanied by potential biomedical risks and environmental side effects. Increasing
        concerns from the public about GMO, particularly in the form of genetic modified (GM) foods, are aimed at the
        short- and long-lasting health problems that may result from this advanced biotechnology. <br> <br> <br>
        sources: <a href="https://www.sciencedirect.com/science/article/pii/S2213453016300295">ScienceDirect</a></p>
</article>

<article>
    <figure>
        <img src="./img/world-2100.jpg" alt="The View of World in 2100">
        <figcaption>The View of World in 2100</figcaption>
    </figure>
    <p>The world in 2100? How will it be? Can you imagine it? In the past, when thinking about the future, people used
        to imagine flying cars and cities in the sky, but is it the same now? Another theory that was popular in the
        1990s was that we would live underwater, and instead of cities in the sky, we would have them deep in the ocean.
        <br> <br> <br> sources: <a href="https://scienceintheworld.com/life/49232279/2023/08/the-world-in-2100/">Science in the World</a></p>
</article>
